$component-color-branding3: $layout-color-branding3;
$component-color-text-dark: $basic-color-text-dark;
$component-color-text-light: $component-color-text-dark;
$component-color-text-light-hover: $layout-color-text-light;
